<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-1 text-center"></div>
            <sponsor items="sponsors.silver" title="Partnerzy srebrni" class="col-xs-12 col-sm-3 text-center"></sponsor>
            <sponsor items="sponsors.gold" title="Partnerzy złoci" class="col-xs-12 col-sm-4 text-center"></sponsor>
            <sponsor items="sponsors.bronze" title="Partnerzy brązowi" class="col-xs-12 col-sm-3 text-center"></sponsor>
            <div class="col-xs-0 col-sm-1 text-center"></div>
        </div>
        <late-load id="sponsors">
            <script type="text/javascript">
                var sponsors = function () {
                    setTimeout(function () {
                        $('.bx-logo-slider').bxSlider({
                            mode: 'fade',
                            speed: 1500,
                            pause: 4000,
                            randomStart: true,
                            auto: true,
                            controls: false,
                            pager: false
                        })
                    }, 0);
                }
            </script>
        </late-load>
    </div>
</section>