<div class="votes">
    <h4 ng-click="vote(1)" class="post-day vote" ng-class="{selected: presentationVote.vote == 1}">+1</h4>
    <h4 ng-click="vote(0)" class="post-day vote" ng-class="{selected: presentationVote.vote == 0}">0</h4>
    <h4 ng-click="vote(-1)" class="post-day vote" ng-class="{selected: presentationVote.vote == -1}">-1</h4>
</div>
<div class="speakers bx-slider person text-center">
    <person ng-repeat="speaker in presentationVote.presentation.speakers" for="speaker"></person>
</div>

<div class="presentation">

    <h1>{{presentationVote.presentation.title}}</h1>


    <div ng-switch="configuration.info" class="info-container">
        <div class="info" ng-switch-when="short">
            <h4>Krótki Opis</h4>

            <div ng-bind-html="presentationVote.presentation.shortDesc"></div>
        </div>
        <div class="info" ng-switch-when="full">
            <h4>Pełny Opis</h4>

            <div ng-bind-html="presentationVote.presentation.longDesc"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>