<section class="red voting" ng-controller="VoteCtrl">
    <div class="saving" ng-if="saving">
        <h1>
            Zapisuję...
        </h1>
    </div>
    <div class="v4p">
        <div ng-if="notStarted()">
            <page name="v4p-start"></page>
            <div style="text-align: center;">
                <button class="btn btn-default btn-primary navbar-btn" ng-click="start()">
                    Zaczynajmy!
                </button>
            </div>
        </div>
        <div ng-if="notStarted() == false">

            <div ng-hide="isActive()" ng-include="'/views/v4p/v4p-end.html'"></div>
            <h1 ng-if="votes.length == 0" style="font-size: 5em; text-align: center">Ładuję prezentacje...</h1>

            <div class="arrows" ng-if="isActive()">
                <div>
                    <div style="float: left">? - klawiszologia</div>

                    <h4 style="text-align: center; margin-bottom: 0px;">
                        <span style="margin-left: -90px;">{{currentIdx()}}/{{votes.length}}</span>
                    </h4>
                </div>
                <button class="btn btn-default btn-primary navbar-btn" ng-click="prev()">
                    <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;poprzednia
                </button>
                <button class="btn btn-default btn-primary navbar-btn" ng-click="toggleInfo()">
                    <i class="fa fa-question"></i>&nbsp;&nbsp;info
                </button>
                <button class="btn btn-default btn-primary navbar-btn" ng-click="next()">
                    następna&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
                </button>
            </div>
            <div class="vote" ng-class="direction"
                 ng-repeat="presentationVote in votes"
                 ng-if="isVisible($index)"
                 ng-include="'/views/v4p/v4p-panel.html'"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<sponsors></sponsors>