<sponsors></sponsors>
<section class="blue" ng-include="'/views/about-short.html'"></section>
<section class="white" ng-include="'/views/news.html'"></section>
<!--<section class="red" ng-include="'/views/speakers.html'"></section>-->


