<div class="container text-center" ng-controller="SpeakerCtrl">
    <h3>Prelegenci</h3>

    <div class="bx-slider">
        <div ng-repeat="speaker in speakers">
            <img src="{{speaker.photo}}">
            <h4>{{speaker.firstName}} {{speaker.lastName}}</h4>
        </div>
    </div>
    <late-load id="speakers">
        <script type="text/javascript">
            var speakers = function () {
                setTimeout(function () {
                    $('.bx-slider').bxSlider({
                        minSlides: 1,
                        maxSlides: 4,
                        moveSlides: 1,
                        slideWidth: 175,
                        slideMargin: 50,
                        pager: false
                    })
                }, 0);
            }
        </script>
    </late-load>
</div>
